<div>
 	<h2 class='float-left mt-2'>Surveys</h2>
	<%= link_to fa_icon('plus', text: 'Create a New Survey'), new_dashboard_survey_path, class: 'btn btn-md btn-primary float-right mt-2' %>
	<div class='fix-float'></div>
</div>

<hr> 

<% if @surveys.count > 0 %>
	<h3>Here are all your surveys</h3>
	<table class="table table-bordered table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Title</th>
	      <th scope="col">Status</th>
	      <th scope="col">State</th>
				<th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @surveys.each do |survey| %>
	      <tr>
	        <td><%= survey.title %></td>
	        <td><%= survey.status.titleize %></td>
	        <td><%= survey.state.titleize %></td>
					<td>
						<%= link_to fa_icon('trash', text: 'Destroy'), dashboard_survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-primary'%>
						<%= link_to fa_icon('eye', text: 'View'), dashboard_survey_path(survey),class: 'btn btn-sm btn-primary'%>
					</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
  <h2>You have no surveys. :(</h2>
<% end %>
