<h2 class='mt-3 float-left'><%= @survey.title.titleize %></h2>
<div class='float-right mt-3'>
  <%= link_to fa_icon('upload', text: 'Publish'), '', class: 'btn btn-primary btn-md' %>
  <%= link_to fa_icon('plus', text: 'Add Questions'), new_dashboard_survey_question_path(@survey), class: 'btn btn-primary btn-md' %>
</div>

<hr class='fix-float'>

<% @questions.each do |question| %>

  <%= link_to 'Delete', dashboard_survey_question_path(@survey, question), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_dashboard_survey_question_path(@survey, question) %>
  <%= question.title %>
  <ul>
  <% question.answers.each do |answer| %>
    <li><%= answer.title %><br></li>
  <% end %>
  </ul>

<% end %>