
      <!-- Header -->
      <header id="header">
        <a class="logo"><strong>Rosewood Info</strong> by Angel Garcia</a>
<!--        <ul class="icons">-->
<!--          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
<!--          <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--          <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>-->
<!--        </ul>-->
      </header>

      <%= render partial: 'shared/flash' %>

      <!-- Banner -->
      <section id="banner">
        <div class="content">
          <header>
            <h1>Welcome to <br/> Rosewood Info</h1>
            <p>A free online questionnaire platform.</p>
          </header>
          <p>Rosewood Info is a free tool that can be used to gather statistics and user provided information. It is a simple platform that will allow you to create polls, petitions, and surveys, all with just a few clicks. Sign up and get started today!</p>
          <ul class="actions">
            <li><%= link_to 'Register', new_user_registration_path, class: 'button big' %></li>
          </ul>
        </div>
        <span class="image object">
          <img src="https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="here-image" />
        </span>
      </section>

      <!-- Section -->
      <section id='about'>
        <header class="major">
          <h2>Why Rosewood?</h2>
        </header>
        <div class="features">
          <% @features.each do |feature| %>
            <article>
              <span class="icon fa-<%= feature.icon %>"></span>
              <div class="content">
                <h3><%= feature.name %></h3>
                <p><%= feature.description %></p>
              </div>
            </article>
          <% end %>
        </div>
      </section>

      <section id="code">
        <header class="major">
          <h2>Enter a code here to take participate in a questionnaire</h2>
        </header>
        <div class="posts">
          <article>
            <%= simple_form_for @survey_query, method: :get, url: search_surveys_path do |f| %>
              <%= f.input :query, label: false, placeholder: 'Enter access code here' %>

              <br>

              <%= f.submit 'Enter' %>
            <% end %>
          </article>
        </div>
      </section>

    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
      <section id="search" class="alt">
        <%= simple_form_for @survey_query, method: :get, url: search_surveys_path do |f| %>
          <%= f.input :query, label: false, placeholder: 'Enter access code here' %>
        <% end %>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#code">Enter a Code</a></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        </ul>
      </nav>

      <!-- Footer -->
      <footer id="footer">
        <p>Created and Powered by <strong>Angel Garcia</strong></p>
        <p class="copyright">&copy; Rosewood Info. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
  </div>