<h2 class='mt-3'><%= @survey.title.titleize %></h2>
<hr>

<h3>Add A Question</h3>

<%= simple_form_for @question, url: dashboard_survey_question_path(@survey, @question) do |f| %>
  
  <div class='form-group'>
    <%= f.input :title, 
      placeholder: 'Enter Question Title Here ...', 
      label: 'Question title',
      input_html: { class: 'form-control' } %>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Answer Title</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :answers do |builder| %>
        <%= render 'answer', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class='form-actions'>
  <%= f.submit class: 'btn btn-primary btn-md'%>
  <%= link_to_add_row('Add Answer', f, :answers, class: 'btn btn-primary') %>
  </div>

<% end %>