<h2><%= @survey.title %></h2>

<form>

  <input type="hidden" name="processable" value='true'>

  <% if @survey.authorized? %>
    <input type="hidden" name="identification" value="<%= params[:identification] %>"/>
  <% end %>

  <% @survey.questions.each do |question| %>
    <strong><%= question.title %></strong>
    <ol>
      <% question.answers.each do |answer| %>
        <li>
          <input type='radio' id='<%= answer.id %>' value='<%= answer.title %>' name="<%= question.title %>">
          <label for="<%= answer.id %>"><%= answer.title %></label>
        </li>
      <% end %>
    </ol>
    <br>
  <% end %>

  <input type='submit'>
</form>